.vjs-mouse-display .vjs-time-tooltip {
  width: var(--thumbnail-preview-width, 160px);
  height: var(--thumbnail-preview-width, 90px);
  top: initial;
  bottom: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
