.vjs-control .vjs-icon-cog {
  font-size: 150%;
}

.vjs-waiting .vjs-big-play-button {
  display: none;
}

.vjs-quality-change-menu-button .vjs-menu-item {
  text-transform: none;
}
.vjs-quality-change-menu-label {
  pointer-events: none;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-js.draken-player-fluid {
  width: 100%;
  min-width: 100%;
  height: auto;
  aspect-ratio: var(--draken-player-video-width, var(--draken-player-default-video-width, 16)) / var(--draken-player-video-height, var(--draken-player-default-video-height, 9));
}
