.vjs-control .vjs-icon-cog {
  font-size: 150%;
}

.vjs-waiting .vjs-big-play-button {
  display: none;
}

.vjs-quality-change-menu-button .vjs-menu-item {
  text-transform: none;
}
.vjs-quality-change-menu-label {
  pointer-events: none;
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-js.draken-player-fluid {
  width: 100%;
  min-width: 100%;
  height: auto;
  padding-top: calc(
    min(
      var(--draken-player-aspect-ratio, var(--draken-player-default-aspect-ratio, calc(9 / 16 * 100%))),
      var(--draken-player-max-height, 99999px)
    )
  );
}
